.md-typeset .text-align-center {
    text-align: center;
}

.md-typeset .weight-lighter {
    font-weight: lighter;
}

.md-typeset .element-align-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.md-typeset .md-button--main {
    border-radius: 10px;
    background: rgba(253, 144, 1, 0.8);
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: aliceblue;
    box-shadow: var(--md-shadow-z1);
    /* box-shadow: -20px 20px 40px #d6d6d6, 20px -20px 40px #ffffff; */
    border-width: 0;
}

.md-typeset .md-button--main:hover {
    background-image: unset;
    background-color: #f6d365;
    color: whitesmoke;
}

.android {
    color: #3DDC84;
}