.md-typeset .text-align-center {
    text-align: center;
}

.md-typeset .weight-lighter {
    font-weight: lighter;
}

.md-typeset .element-align-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
}

.md-typeset .md-button--main {
    border-radius: 0.5rem;
    background: rgba(253, 144, 1, 0.8);
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: aliceblue;
    box-shadow: var(--md-shadow-z2);
    border-width: 0;
}

.md-typeset .md-button--main:hover {
    background-image: unset;
    background-color: #f6d365;
    color: whitesmoke;
}

.md-typeset .badge {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.375rem;
    display: inline-block !important;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x) !important;
    font-size: var(--bs-badge-font-size) !important;
    font-weight: var(--bs-badge-font-weight) !important;
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
}

.md-typeset .badge:empty {
    display: none;
}

.md-typeset .bg-secondary {
    --bs-bg-opacity: 1;
    --bs-secondary-rgb: 108, 117, 125;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.md-typeset .text-bg-secondary {
    color: #fff !important;
    background-color: RGBA(108, 117, 125, var(--bs-bg-opacity, 1)) !important;
}

.md-typeset .grid>.card:is(:focus-within, :hover) {
    border-color: transparent;
    transform: scale(0.95);
    transition: all 0.3s;
}

.md-typeset .grid>.card {
    border: 0 solid var(--md-default-fg-color--lightest);
    border-radius: 0.1rem;
    display: block;
    margin: 0;
    position: relative;
    /* padding: 0.8rem; */
    box-shadow: var(--md-shadow-z2);
    -webkit-transition: border .25s, box-shadow .25s;
    transition: border .25s, box-shadow .25s;
}

.card-icon {
    opacity: 0;
    transform: translateX(-20%);
    width: 2em;
    height: 2em;
    transition: all .3s ease-in-out;
}

.card:hover .card-icon {
    opacity: 1;
    transform: translateX(20%);
}

.md-typeset .minecraft-release {
    background-color: #6eee88;
}

.md-typeset .minecraft-beta,
.md-typeset .minecraft-preview {
    background-color: #9a9a9a;
}

.md-typeset .minecraft-archive {
    background-color: #f6d365;
}

.md-typeset .grid>* {
    margin-bottom: 0;
    margin-top: 0;
}

.md-typeset .grid {
    grid-gap: 0.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
    margin: 1em 0;
}

.card-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.card-img {
    position: absolute;
    width: 100%;
    padding: 1rem;
    color: #fff;
    box-sizing: content-box;
    width: 3.5em;
    height: 3.5em;
}

.md-typeset .rounded-pill {
    border-radius: 50rem !important;
}

.android {
    color: #3DDC84;
}

.windows {
    color: #00A0FF;
}

.md-typeset .display {
    font-size: 1.5em;
    font-weight: 100;
}

.md-typeset .admonition.release,
.md-typeset details.release {
    border-color: rgb(110, 238, 136);
}

.md-typeset .release>.admonition-title,
.md-typeset .release>summary {
    background-color: rgba(110, 238, 136, .1);
}

.md-typeset .release>.admonition-title::before,
.md-typeset .release>summary::before {
    background-color: rgb(110, 238, 136);
    -webkit-mask-image: var(--md-admonition-icon--release);
    mask-image: var(--md-admonition-icon--release);
}

.md-typeset .admonition.beta,
.md-typeset details.beta {
    border-color: rgb(154, 154, 154);
}

.md-typeset .beta>.admonition-title,
.md-typeset .beta>summary {
    background-color: rgba(154, 154, 154, .1);
}

.md-typeset .beta>.admonition-title::before,
.md-typeset .beta>summary::before {
    background-color: rgb(154, 154, 154);
    -webkit-mask-image: var(--md-admonition-icon--beta);
    mask-image: var(--md-admonition-icon--beta);
}

.md-typeset .md-button--cell {
    border: 0 solid var(--md-primary-fg-color);
    border-radius: 0.1rem;
    border-left-width: 0.2rem;
    padding: 0.8rem 0.4rem 0.8rem 0.8rem;
    box-shadow: var(--md-shadow-z1);
    page-break-inside: avoid;
}

.md-typeset .md-button--cell .subtext {
    font-size: .7em;
    font-weight: 100;
}