.md-typeset .text-align-center {
    text-align: center;
}

.md-typeset .weight-lighter {
    font-weight: lighter;
}

.md-typeset .element-align-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.md-typeset .neumorphism {
    border-radius: 10px;
    background: rgba(255, 145, 0, .8);
    color: aliceblue;
    box-shadow: var(--md-shadow-z1);
    /* box-shadow: -20px 20px 40px #d6d6d6, 20px -20px 40px #ffffff; */
    border-width: 0;
}

.android {
    color: #3DDC84;
}